*{
    font-family: 'product sans';
}

/* ul.nav a:hover { color: #2553E9 !important; } */

.navbar-light .navbar-brand {
    color: black;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
    background-color: #2553E9;
    border-radius: 0.25rem;

}

.navbar-light .navbar-nav .nav-link {
    color: rgb(87, 121, 233);
    margin: .125rem .125rem;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255) !important;
    background-color: #2553E9;
    border-radius: 0.25rem;
}


.text-left{
    position: relative;
    top: 10rem;
}

.text-left> h1 {
    font-size: 5rem;
    font-weight: bold;
    color: #2553E9;
}

.text-left>p{
    color:lightslategray;
}

.button{
   position: relative;
   top: 12rem;
   left: 1rem;
}

@media screen and (max-width: 450px){
    .text-left> h1 {
        font-size: 3.4rem;
        
        
    }
    .text-left{
        position: relative;
        left: .5rem;
    }
    .button{
        position: relative;
        
        left: 1.5rem;
    } 

    







}


@media only screen and (min-width: 600px) and (max-width :786px){

    .text-left> h1 {
        font-size: 7rem;
        
        
    }
    .block{
    position: relative;
    top: 7rem;

    }

}


@media only screen and (min-height:1080px){

    .block{
        position: absolute;
        top: 5rem;
        left: 7rem;
    }
   

    

} 
